
  <!--  link_to '削除', word, method: :delete -->
<div class='container-fluid'>
<div class='row'>
<div class='col-md-8 col-md-offset-2 '>
  <div class="page-header">
	<h2><%= current_user.name %>の単語帳</h2>
</div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <td>id</td>
      <td>単語・熟語</td>
      <td>意味</td>
    </tr>
  </thead>
  <tbody>
<% @words.each do |word| %>
 
    <tr>
      <td><%= word.id %></td>
      <td><%= word.word %></td>
      <td><%= word.meaning %></td>
    </tr>
  
<% end %>
  </tbody>
</table>
<%= paginate @words %>

<%= render 'form', word: @word %>
</div>
</div>
</div>
